
  <div class="upper-message">
  
    <div class="message-user">
      <%= message.user.nickname %>さん
    </div>

    <div class="message-date">
      <%= l message.created_at, format: :short %>
    </div>
  </div>

  <div class="lower-message">
    <div class="message-content">
      <%= message.comment %>
    </div>

    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  
  </div>

  
