 <footer class="contain">
 
    <p class="float-end"><a class="footer_text" href="#">fish-spot</a></p>
    <p> <a class="footer_text" href="#">特徴</a> &middot; <a class="footer_text" href="#">投稿一覧</a></p>
 
  </footer>