

<header>
  
   <%if user_signed_in? %>
      <%= link_to(new_post_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>新規投稿</span>
      <% end %>

     <% end %>


      
    
  
</header>

