<head>
  <link rel="stylesheet" href="carousel.css">
</head>


<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brant" href="#">fish-spot</a>
      <% if user_signed_in?%>
        <div class=flat-header>
           <%= link_to "#{current_user.nickname}さん", root_path, class: :log%>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log" %> 
         </div>
      <% else %>
          <div class=flat-header>
            <%= link_to 'ログイン', new_user_session_path, class: "log" %>
            <%= link_to '新規登録', new_user_registration_path, class: "log" %>
          </div>
      <% end %>
      
      
    
  </nav>
</header>

