<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPJIUGbmXkk3oaFokKjBKaiRH7aHlrqkQ&callback=initMap" async></script>


<script type="text/javascript">
function initMap() {
      var hachinohe = {lat: 40.5489, lng: 141.5064};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: hachinohe
      });

      var contentString = '<div id="content">'+
          '<h1 id="firstHeading" class="firstHeading">フェリー埠頭</h1>'+
          '<div id="bodyContent">'+
          //'<p><b>Tokyo</b>は人多いよ〜</p>'+
          '<p> <%= link_to '詳細はこちら', http://localhost:3000/posts/6 %>'+
          
          '</p>'+
          '</div>'+
          '</div>';

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var marker = new google.maps.Marker({
        position: hachinohe,
        map: map,
        title: 'Hachinohe'
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }

</script>
<div id="map" style="width:1200px; height:500px;"></div>