/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

 


 /* header表記 */
 .navbar-brant{
  font-family: cursive;
  font-size: 25px;
  color: white;
}

.flat-header{
  font-size: 25px;
}

.log{
  align-items: center;
  margin-left: 10px;
  font-size: 25px;
text-decoration: none;
color: white;
}

.navbar{
  background-color: rgb(23, 23, 29);
  height: 6vh;
}

/* body表記 */

body {
  background-color: rgb(219, 216, 212) !important;
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
} 


 /* footer表記 */

 footer{
  background-color: rgb(23, 23, 29)!important;
  height: 6vh;
  align-items: center ;
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  width: 100%;
}

 .float-end{
  font-family: cursive;
}

.footer_text{
  color: white;
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
}





