.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
  margin:0 auto;
}

.slider img {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}
/* 上部の写真表記 */
.carousel {
  margin-bottom: 4rem;
 
}

.carousel-item {
  height: 32rem;

}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
 
}
.carousel-control-next{
  height: 400px;
  margin-top: 100px;
}

.carousel-control-prev{
  height: 400px;
  margin-top: 100px;
}



/*  特徴表記 */
.body-point{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  width: 100%;
  height: 7vh;
}

.feature{
  color: white;
}

.blue{
  font-family: cursive;
  color: white;
}

.flat-body{
  display: flex;
  justify-content: space-around;
  
}

.border{
  border:1px solid black;
}

.jouhou{
  margin-top: 20px;
}


/*投稿一覧、地図表記 */

.fish-flat{
  display: flex ;
  justify-content: space-around;
}

.body_chart{
  font-size: 30px;
  margin-left: 85px;
}

.google_map{
  margin-top: 30px;
  margin-left: 70px;
}



/* 新規投稿ボタン */

.purchase-btn {
  width: 150px;
  height: 80px;
  background: rgba(48, 88, 117, 0.712);
  text-align: center;
  border-radius: 4%;
  bottom: 47px;
  right: 10px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  align-items: flex-end;
}

.purchase-btn-text {
  color: white;
  display: block;
  font-size: 30px;
  align-items: flex-end;
  
  margin-bottom: 5px;
}


  

    /* map.html */
  #map{
    width: 40rem;
    height: 62rem;
    margin-bottom: 50px;
  }








/* スマホ用設定 */

@media (min-width: 40em) {
 
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

}

  
  @media (max-width: 599px) {
    .carousel-caption{
      font-size: 20px;
    }
   
    .navbar{
      width: 80%;
    }

    .flat-body{
      display: block;
      width: 70%;
    }
    .font-size{
      width: 250%;
    }

     
  }
  
  
