// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_header{
  font-size: 25px;
  background-color: #070d13e5;
  align-items: center;
  //position: fixed;
  width: 100vw;
  color: white;
}








.messages {
  background-color: #d8d3d3;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
  //white-space: pre-line;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}






.form-image {
  font-size: 20px;
  background-color: rgba(22, 23, 31, 0.603);
  color: white;
  padding-left: 25px;
  padding-top: 7px;
  width: 90px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  height: 40px;
  
  margin-top: 20px;
}



.hidden {
  display: none;

}

.form-message{
  width: 70em;
  margin-left: 30px;
}

.form-input{
  margin-top: 80px;
  align-items: flex-start;
  display: flex;
}

.form-submit{
  margin-top: 30px;
}

.exit_link{
  width: 150px;
  height: 80px;
  background: rgb(42, 42, 49);
  text-align: center;
  border-radius: 4%;
  top: 84px;
  right: 0px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  align-items: flex-end;
}

.exit-btn-text{
    color: white;
    display: block;
    font-size: 30px;
    align-items: flex-end;
    margin-bottom: 5px;
  }

