// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* _post.html */
.flex{
  align-items: flex-start;
  
 margin-right: 50px;
 margin-left: 50px;
 margin-top: 50px;
}



 /* chart.html */
.chart_index{
  display: flex;
  overflow: scroll;
}

.chart_all{
 margin-left: 10px  ;
}

 /* _test.html */


#map{
  margin-left: 50px;
  margin-top: 30px;
}

.firstHeading{
  font-size: 20px;
}

 /* _new.html */

.inner{
  display: flex;
  justify-content: center;
}

.form_wrapper{
  margin-left: 550px;
  margin-bottom: 20px;
}

#title{
  width: 500px;
}

.form_field{
  width: 600px;
  margin-bottom: 20px;
}


.form_btn{
  margin-top: 20px;
  margin-left: 520px;
}

 /* show.html */

 .posts_all{
   margin-left: 500px;
 }

 .show_picture{
   margin-left: 350px;
 }

 .position :hover{
  background-color: cornflowerblue;
}

.show_chatroom{
  margin-left: 450px;
  font-size: 20px;
}

.show_edit{
  margin-left: 20px;
  font-size: 20px;
}


